<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<body>
    <div class="container">
        <div class="row">
            <h1>Browse Clients</h1>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search For a Client" id="search">
                    <button class="btn btn-outline-secondary" type="button" id="searchBtn">
                        <i>Search</i>
                    </button>
                </div>
            </div>
            <div class="col-xl-4">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2">
                <button id="addClientBtn" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal">+ New Client</button>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body p-0">
                <div class="row ">
                    <div class="col-xl-11">
                        <br>
                        <div class="col text-center " >
                            <span class="fw-bold display-6">@FatimaM_04</span>
                            <span class="badge bg-warning">Gold</span>
                            <br>
                            <span class="fw-bold">#88R324U-93</span>
                            <br><br>
                        </div>
                        <div class="row">
                            <div class="col-xl-5">
                                <dl class="row d-flex justify-content-center align-items-center">
                                    <dt class="col-xl-5">Full Name:</dt>
                                    <dd class="col-xl-5">Fatima Mahfoodh</dd>

                                    <dt class="col-xl-5">Email:</dt>
                                    <dd class="col-xl-5">Fatima@gmail.com</dd>

                                    <dt class="col-xl-5">DOB:</dt>
                                    <dd class="col-xl-5">23-4-24 </dd>

                                    <dt class="col-xl-5">Nationality:</dt>
                                    <dd class="col-xl-5">Bahrain</dd>

                                    <dt class="col-xl-5">Phone Number:</dt>
                                    <dd class="col-xl-5">333333333</dd>
                                </dl>  
                            </div>
                            <div class="col-xl-6">
                                <dl class="row d-flex justify-content-center align-items-center">
                                    <dt class="col-xl-5">Company Name:</dt>
                                    <dd class="col-xl-5">Bahrain Polytechnic</dd>

                                    <dt class="col-xl-5">Size:</dt>
                                    <dd class="col-xl-5">500</dd>

                                    <dt class="col-xl-5">Webiste:</dt>
                                    <dd class="col-xl-5">polytechnic.bh</dd>

                                    <dt class="col-xl-5">City:</dt>
                                    <dd class="col-xl-5">Manama, Bahrain</dd>
                                </dl>    

                            </div>  
                        </div>

                    </div>
                    <div class="col-xl-1">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <button class="btn btn-primary flex-fill rounded-0 rounded-top-right" data-bs-toggle="modal" data-bs-target="#myModal">Edit</button>
                            <button class="btn btn-danger flex-fill rounded-0 rounded-bottom-right">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add/Edit Client</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/ManageHalls.php" id ="clientForm">
                            <h5>Personal Details:</h5>
                            <hr>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
                            </div>
                            <div hidden class="mb-3" id="passwordDiv">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="fName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="fName" placeholder="Enter First Name" name="fName">
                            </div>
                            <div class="mb-3">
                                <label for="lName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lName" placeholder="Enter Last Name" name="lName">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="phoneNum" class="form-label">Phone Number</label>
                                <input type="number" class="form-control" id="phoneNum" placeholder="Enter Phone Number" name="phoneNum">
                            </div>
                            <div class="mb-3">
                                <label for="nation" class="form-label">Nationality</label>
                                <input type="text" class="form-control" id="nation" placeholder="Enter Nationality" name="nation">
                            </div>
                            <div class="mb-3">
                                <label for="dob" class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" id="dob" placeholder="Enter Date of Birth" name="dob">
                            </div>
                            <br>
                            <h5>Company Details:</h5>
                            <hr>
                            <div class="mb-3">
                                <label for="cmpName" class="form-label">Company Name</label>
                                <input type="text" class="form-control" id="cmpName" placeholder="Enter Company Name" name="cmpName">
                            </div>
                            <div class="mb-3">
                                <label for="cmpSize" class="form-label">Company Size</label>
                                <input type="number" class="form-control" id="cmpSize" placeholder="Enter Company Size" name="cmpSize">
                            </div>
                            <div class="mb-3">
                                <label for="cmpWeb" class="form-label">Company Website</label>
                                <input type="text" class="form-control" id="cmpWeb" placeholder="Enter Company Website" name="cmpWeb">
                            </div>
                            <div class="mb-3">
                                <label for="cmpcity" class="form-label">Company City</label>
                                <input type="text" class="form-control" id="cmpcity" placeholder="Enter Company City" name="cmpcity">
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Cancel</button>
                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

        <script type="text/javascript">
        // JavaScript to toggle the visibility of image upload on image click
        document.getElementById('imagePreview').addEventListener('click', function () {
            document.getElementById('imageUpload').click();
        });
        //JavaScript to unhide password when add button is clicked
        document.getElementById("addClientBtn").addEventListener("click", function () {
            document.getElementById('passwordDiv').removeAttribute("hidden");            
        });

    </script>

