<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<body>
    <div class="container">
        <div class="row">
            <h1>Browse Services</h1>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search For a Menu Item">
                    <button class="btn btn-outline-secondary" type="button">
                        <i>Search</i>
                    </button>
                </div>
            </div>
            <div class="col-xl-4">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-0">
                <div class="row ">
                    <div class="col-xl-5 text-center">
                        <img class="img-fluid" src="./images/upload-image.png">
                    </div>
                    <div class="col-xl-6 text-center p-3">
                        <br>
                        <h3>Item Name</h3>
                        <br>
                        <p>Description for the hall thats very long to show the length of the lthing is very long Description for the hall thats very long to show the length of the lthing is very long </p>
                        <br><br>
                        <div class="row">
                            <div class="col text-start">
                                <h3>$96.50</h3>
                            </div>
                            <div class="col text-end">
                                <h3>Catering Type</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <button class="btn btn-primary flex-fill rounded-0 rounded-top-right" data-bs-toggle="modal" data-bs-target="#myModal">Edit</button>
                            <button class="btn btn-danger flex-fill rounded-0 rounded-bottom-right">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Services</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/ManageHalls.php">
                            <div class="text-center">
                                <img class="img-fluid form-img img-thumbnail" src="./images/upload-image.png" id="imagePreview">
                                <input type="file" id="imageUpload" style="display: none;">
                            </div> 
                            <div class="mb-3">
                                <label for="ItemName" class="form-label">Item Name</label>
                                <input type="text" class="form-control" id="ItemName" placeholder="Enter Item Name" name="ItemName">
                            </div>
                            <div class="mb-3">
                                <label for="Price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="Price" placeholder="Enter Price" name="Price">
                            </div>
                            <label for="catType" class="form-label">Category Type:</label>
                            <div class="dropdown mb-3">
                                <button class=" dropdown-btn form-control dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                    Select Category Type:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Breakfast</a></li>
                                    <li><a class="dropdown-item" href="#">Lunch</a></li>
                                    <li><a class="dropdown-item" href="#">Hot Beverages</a></li>
                                    <li><a class="dropdown-item" href="#">Cold Beverages</a></li>
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label for="description">Item Description</label>
                                <textarea class="form-control" rows="5" id="description" placeholder="Enter Items's Description" name="description" ></textarea>
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Delete</button>
                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // JavaScript to toggle the visibility of image upload on image click
        document.getElementById('imagePreview').addEventListener('click', function () {
            document.getElementById('imageUpload').click();
        });
    </script>
</body>

