<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .fa-custom-size {
        font-size: 1.5em; /* Adjust as needed */
    }
        </style>
    </head>
    <body>
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 shadow-lg rounded my-5 p-4">
                <h4 class="text-left">Search for Available Halls</h4>
                <form>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input type="date" class="form-control border border-secondary" id="startDate">
                        </div>
                        <div class="col-md-4">
                            <label for="endDate" class="form-label">End Date</label>
                            <input type="date" class="form-control border border-secondary" id="endDate">
                        </div>
                        <div class="col-md-4">
                            <label for="audienceCount" class="form-label">Number of Audiences</label>
                            <input type="number" class="form-control border border-secondary" id="audienceCount">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary shadow-lg mt-4">Search Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <div class="input-group bg-white rounded">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-search fa-custom-size"></i>
        </span>
    </div>
    <input type="search" class="form-control" placeholder="Search">
</div>



    </div>
        
    </body>
</html>
