
        <style>
            .hero {
                background: url(./images/hero.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
        </style>
        <body>
            
            <div class="hero bg-light text-white w-100 h-50">
                <div class="container-fluid">
                    <h1 class="display-5 fw-bold">Title title title title title title title</h1>
                    <p class="col-md-8 lead">Lorem ipsum odor amet, consectetuer adipiscing elit. Netus ad quisque. Metus lacus pretium metus. Metus lacus pretium metus. </p>
                    <button class="btn btn-primary btn-lg" onclick="location.href='#popularHalls'">View Halls</button>
                </div>
            </div>
            
            <div id="popularHalls">
               <div class="row text-center"><h3>Popular Halls</h3></div>
               <div class="row justify-content-center g-2">
                    <div class="card" style="width: 20rem !important; height: 20rem !important;">
                        <img src="./images/hero.png" class="card-img-top" alt="" style="height: 75%;">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Netus ad quisque. Metus lacus pretium metus. 
                            </p>
                        </div>
                    </div>
                   
                   <div class="card" style="width: 20rem !important; height: 20rem !important;">
                        <img src="./images/hero.png" class="card-img-top" alt="" style="height: 75%;">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Netus ad quisque. Metus lacus pretium metus. 
                            </p>
                        </div>
                    </div>
                   
                   <div class="card" style="width: 20rem !important; height: 20rem !important;">
                        <img src="./images/hero.png" class="card-img-top" alt="" style="height: 75%;">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Netus ad quisque. Metus lacus pretium metus. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </body>
