<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container main">
            <div class="row mb-5 mt-3">
                <h1>My Account</h1>
            </div>
            
            <div class="row">
                <div class="card col-xl-3 shadow-sm">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>My Bookings</strong></li>
                        <li class="list-group-item"><strong>Payment Cards</strong></li>
                        <li class="list-group-item"><strong>Wallet</strong></li>
                        <li class="list-group-item"><strong>Profile</strong></li>
                        <li class="list-group-item"><strong>Logout</strong></li>
                    </ul>
                </div>

                <!-- <div class="card col-xl-8 shadow-sm ms-4">
                    <h1>My Bookings</h1>
                    <div class="row">
                        <div class="col">Booking#: ME1193655626</div>
                        <div class="col">7 July, 2028</div>
                        <div class="col">Total: BHD 1700.16</div>
                    </div>

                    <div class="card mb-2">
                        <div class="row g-0">
                            <div class="col-xl-5 p-2">
                                <img src="https://placehold.co/550x400" alt="" class="img-fluid rounded">
                            </div>
                            
                            <div class="col-xl-5">
                                <div class="row d-flex justify-content-end">
                                    <div class="col">Upcoming</div>
                                    <div class="col"><button class="btn btn-danger">Cancel Booking</button></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <span>Notes: </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores exercitationem nulla earum dolorem dignissimos quos quisquam dolorum voluptatibus? Minima perferendis aliquid saepe, quod voluptatibus suscipit laudantium optio nisi ea dolorum sit culpa voluptatum sint enim amet dolores.
                                 Veritatis odio a dolorem id, dolor, unde consequatur exercitationem cum distinctio magnam dolores.</p>
                        </div>

                        <div class="row mx-1">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#additionalServiceCollapse" aria-expanded="true" aria-controls="collapseOne">
                                            Additional Services
                                        </button>
                                    </h2>
                                    <div id="additionalServiceCollapse" class="accordion-collapse collapse show">
                                        <div class="accordion-body d-flex flex-wrap">

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                            <div class="card p-0 m-2 cateringItem">
                                                <img class="card-img-top img-fluid" src="https://placehold.co/278x156">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center fs-5">Menu Item Name</h3>
                                                    <p class="card-text text-center"><strong>0.6 BHD x 0.5 BHD</strong></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div> -->

                <!-- mycards
                <div class="card col-xl-8 shadow-sm ms-4">
                    <h1>My Cards</h1>

                    <div class="card my-3">
                        <div class="card-body vstack gap-2 mx-auto">
                            <div class="row">*****   *****   *****  7324</div>
                            <div class="row"><span>07/26</span><button class="btn btn-outline-primary fw-bold">Edit</button></div>
                        </div>
                    </div>

                    <div class="card my-3">
                        <div class="card-body vstack gap-2 mx-auto">
                            <div >*****   *****   *****  7324</div>
                            <div >07/26 <button class="btn btn-outline-primary fw-bold align-self-end">Edit</button></div>
                        </div>
                    </div>

                    <div class="card my-3">
                        <div class="card-body vstack gap-2 mx-auto">
                            <div >*****   *****   *****  7324</div>
                            <div >07/26 <button class="btn btn-outline-primary fw-bold align-self-end">Edit</button></div>
                        </div>
                    </div>

                    <div class="row mx-auto" style="width: 15%;">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCardModal"> +Add </button>
                    </div>

                </div>
                -->

                <!-- My Cards Modal -->
                <div class="modal fade" id="editCardModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Card</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <div class="row">
                                        <div class="col">
                                            <label for="paymentType" class="form-label">Payment Type</label>
                                            <select name="paymentType" id="paymentType" class="form-select">
                                                <option value="" disabled>Payment Type</option>
                                                <option value="credit">Credit Card</option>
                                                <option value="debit">Debit Card</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="cardNumber" class="form-label">Card Number</label>
                                            <input type="number" maxlength="16" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="CVV" class="form-label">CSV</label>
                                            <input type="number" class="form-control" name="CVV" value="">
                                        </div>

                                        <!-- year and month can be datepicker formatted with js -->

                                        <div class="col">
                                            <label for="year" class="form-label">Card Expiry</label>
                                            <select name="year" id="year" class="form-select">
                                                <option value="" disabled>Year</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>

                                        <div class="col d-flex align-items-end">
                                            <select name="month" id="month" class="form-select">
                                                <option value="" disabled>Month</option>
                                                <option value="1">January</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <button type="submit" class="btn btn-primary mx-auto" style="width: 40%;">Save</button>
                                    </div>

                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Wallet & Royalty Points -->
                <!-- <div class="card mb-2">
                    Wallet & Royalty Points

                    <div class="row">Account Balance: BHD -20:750</div>
                    <div class="row">SILVER</div>
                    
                    <div class="card rounded shadow-sm">
                        <p>How it works?</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Gold Tier</strong> are earned on More than 15 booked events</li>
                            <li class="list-group-item"><strong>Silver Tier</strong> are earned on More than 10 booked events</li>
                            <li class="list-group-item"><strong>Bronze Tier</strong> are earned on More than 5 booked events</li>
                        </ul>
                    </div>

                </div> -->
                
                
                <!--Profile -->
                <div class="card col-xl-8 shadow-sm ms-4">
                    Profile
                    <form action="">
                        <div class="container">
                            <div class="row my-2">
                                <div class="col">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Username">
                                </div>
                                <div class="col">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input type="text" name="firstname" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input type="text" name="lastname" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col">
                                    <label for="nationality" class="form-label">Nationality</label>
                                    <input type="text" name="nationality" class="form-control" placeholder="Nationality">
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" name="age" class="form-control" placeholder="Age" min="18" max="90">
                                </div>
                                <div class="col">
                                    <label for="gender" class="form-label">Password</label>
                                    <select name="gender" class="form-select" id="">
                                        <option value="" disabled>Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr>
                    Company Information
                    <form action="">
                        <div class="container">
                            <div class="row my-2">
                                <div class="col">
                                    <label for="companyname" class="form-label">Company Name</label>
                                    <input type="text" name="companyname" class="form-control" placeholder="Company Name">
                                </div>
                                <div class="col">
                                    <label for="companysize" class="form-label">Company Size</label>
                                    <input type="number" name="companysize" class="form-control" placeholder="Company Size">
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col">
                                    <label for="city" class="form-label">City</label>
                                    <input type="text" name="city" class="form-control" placeholder="City">
                                </div>
                                <div class="col">
                                    <label for="website" class="form-label">Website</label>
                                    <input type="text" name="website" class="form-control" placeholder="Website">
                                </div>
                            </div>
                            
                        </div>
                    </form>

                </div>
                
            </div>
        </div>
    </body>
</html>
