<div class="container">
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image rounded-start"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h1 text-gray-900 mb-4">Create Account</h1>
                            </div>
                            <form class="user account-form" action="register.php" method="post">
                                <!--<input type="text" class="form-control form-control-user" id="username" placeholder="Username" name="username" value="<?php echo $_POST['username']?>">-->
                                <fieldset id="accountForm" class="">
                                    <input type="text" class="form-control form-control-user" id="username" placeholder="Username" name="username">
                                    <input type="password" class="form-control form-control-user" id="password" placeholder="Password" name="password">
                                    <input type="email" class="form-control form-control-user" id="email" placeholder="Email" name="email">
                                    <input type="text" class="form-control form-control-user" id="phoneNumber" placeholder="Phone Number" name="phoneNumber">
                                </fieldset>
                                <div id="detailsForm" class="d-none">
                                    <fieldset id="personalDetailsForm">
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control form-control-user" id="firstName" placeholder="First Name" name="firstName">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-user" id="lastName" placeholder="Last Name" name="lastName">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-select mb-3" id="gender" name="gender">
                                                    <option selected>Gender</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control form-control-user" id="nationality" placeholder="Nationality" name="nationality">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex align-items-center">
                                                <label class="form-label mb-3 ms-3" for="dob">Date of Birth</label>
                                            </div>
                                            <div class="col">
                                                <input type="date" class="form-control form-control-user" id="dob" name="dob">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <hr>
                                    <fieldset id="companyDetailsForm">
                                        <input type="text" class="form-control form-control-user" id="companyName" placeholder="Company Name" name="companyName">
                                        <input type="text" class="form-control form-control-user" id="website" placeholder="Website" name="website">
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control form-control-user" id="city" placeholder="City" name="city">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control form-control-user" id="size" placeholder="Comapany Size" name="size">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="text-center my-2">
                                    <input type="button" class="btn btn-primary" id="nextBtn" value="Next">
                                    <input type="button" class="btn btn-secondary d-none" id="backBtn" value="Back">
                                    <input type="button" class="btn btn-primary d-none" id="regBtn" value="Register">
                                </div>
                            </form>
                            <div class="text-center">
                                <p>Already have an account? <a class="btn-link" href="./login.php">Login</a></p>
                            </div>
                            <div id="errorBox" class="text-center text-danger d-none">
                                Error
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
<script src="javascript/register.js"></script>