<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<body>
    <div class="container">
        <br>
        <div class="row">
            <h1>Browse Services</h1>
        </div>
        <div class="row">
            <div class="col-xl-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search For a Service" id="search">
                    <button class="btn btn-outline-secondary" type="button" id="searchBtn">
                        <i>Search</i>
                    </button>
                </div>
            </div>
            <div class="col-xl-2 text-end">
                <button id="addClientBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">+ New Service</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2">
                <!-- Pagination bar -->
                   <nav class="mb-3 d-flex justify-content-center align-items-center" aria-label="Menu Page Navigation">
                       <span class="me-2">Page: </span>
                       <ul class="pagination d-flex flex-row m-0">
                           <li class="page-item"><input type="button" class="pagination-first-services page-link mx-2 rounded border-2" value="First"></li>
                       </ul>
                       <ul class="pagination pagination-numbers-services d-flex flex-row m-0">
                       </ul>
                       <ul class="pagination d-flex flex-row m-0">
                           <li class="page-item"><input type="button" class="pagination-last-services page-link mx-2 rounded border-2" value="Last"></li>
                       </ul>
                   </nav>

            </div>
        </div>
        <br>
        <div id="pagination-items-services">
            <div class="card serviceCard">
                <div class="card-body p-0">
                    <div class="row ">
                        <div class="col-xl-5 text-center">
                            <img class="img-fluid" src="./images/upload-image.png">
                        </div>
                        <div class="col-xl-6 text-center p-3">
                            <br>
                            <h3>Item Name</h3>
                            <br>
                            <p>Description for the hall thats very long to show the length of the lthing is very long Description for the hall thats very long to show the length of the lthing is very long </p>
                            <br><br>
                            <div class="row">
                                <div class="col text-start">
                                    <h3>$96.50</h3>
                                </div>
                                <div class="col text-end">
                                    <h3>Catering Type</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class="d-flex flex-column h-100 justify-content-between">
                                <button class="btn btn-primary flex-fill rounded-0 rounded-top-right" data-bs-toggle="modal" data-bs-target="#myModal">Edit</button>
                                <button class="btn btn-danger flex-fill rounded-0 rounded-bottom-right">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add/Edit Services</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/ManageHalls.php">
                            <div class="text-center">
                                <img class="img-fluid form-img img-thumbnail" src="./images/upload-image.png" id="imagePreview">
                                <input type="file" id="imageUpload" style="display: none;">
                            </div> 
                            <div class="mb-3">
                                <label for="ItemName" class="form-label">Item Name</label>
                                <input type="text" class="form-control" id="ItemName" placeholder="Enter Item Name" name="ItemName">
                            </div>
                            <div class="mb-3">
                                <label for="Price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="Price" placeholder="Enter Price" name="Price">
                            </div>
                            <div class="mb-3">
                                <label for="serviceType" class="form-label">Service Type</label>
                                <select name="serviceType" class="form-select">
                                    <option value="" disabled>Select Service Type</option>
                                    <option value="Type1">Breakfast</option>
                                    <option value="Type2">Lunch</option>
                                    <option value="Type3">Hot Beverages</option>
                                    <option value="Type4">Cold Beverages</option>  
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="description">Item Description</label>
                                <textarea class="form-control" rows="5" id="description" placeholder="Enter Items's Description" name="description" ></textarea>
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Cancel</button>
                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./helpers/pagination.js"></script>
    <script>
        
        window.addEventListener("load", () => {
        enablePagination("services", ".serviceCard");
        });
        // JavaScript to toggle the visibility of image upload on image click
        document.getElementById('imagePreview').addEventListener('click', function () {
            document.getElementById('imageUpload').click();
        });
    </script>
</body>

