<div class="main">
    <h1 class="m-4">Booking Summary</h1>
    <div class="card p-4 w-75 mx-auto">
        <div class="row">
            <!-- add Reservation code -->
            
            <h2>Event & Hall Details</h2>
            <div class="col-4">
                <div class="row m-4">
                    <div class="col text-secondary text-end">Event Name:</div>
                    <div class="col">Name</div>
                </div>
                <div class="row m-4">
                    <div class="col text-secondary text-end">Start Date:</div>
                    <div class="col">Jan 1, 2026</div>
                </div>
                <div class="row m-4">
                    <div class="col text-secondary text-end">End Date:</div>
                    <div class="col">Jan 7, 2026</div>
                </div>
                <div class="row m-4">
                    <div class="col text-secondary text-end">No. Audiences:</div>
                    <div class="col">100</div>
                </div>
                <div class="row m-4">
                    <div class="col text-secondary text-end">Hall Name:</div>
                    <div class="col">Hall Name</div>
                </div>
                <div class="row m-4">
                    <div class="col text-secondary text-end">Rental Price:</div>
                    <div class="col">700.000 BHD</div>
                </div>
            </div>
            <div class="col-8 d-flex justify-content-center">
                <!-- Image of hall -->
                <img class="img-fluid rounded-5 summaryImage" src="images/hall_example1.jpg">
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Additional Services</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Menu Type</th>
                        <th class="text-center" scope="col">Price Per Piece</th>
                        <th class="text-center" scope="col">Quantity</th>
                        <th class="text-center" scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">Macaroni & Cheese Plate</td>
                        <td class="text-center">Breakfast</td>
                        <td class="text-center">0.6 BHD</td>
                        <td class="text-center">60</td>
                        <td class="text-center">36.000 BHD</td>
                    </tr>
                    <tr>
                        <td class="text-center">Macaroni & Cheese Plate</td>
                        <td class="text-center">Breakfast</td>
                        <td class="text-center">0.6 BHD</td>
                        <td class="text-center">60</td>
                        <td class="text-center">36.000 BHD</td>
                    </tr>
                    <tr>
                        <td class="text-center">Macaroni & Cheese Plate</td>
                        <td class="text-center">Breakfast</td>
                        <td class="text-center">0.6 BHD</td>
                        <td class="text-center">60</td>
                        <td class="text-center">36.000 BHD</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <h2>Total Price: 900.000 BHD</h2>
        </div>
    </div>
</div>