:root {
    --primary: #2261AB;
    --primary-400: #518FCC;
    --success: #25991B;
    --text: #272525;
    --danger: #FF3B30; /* error */
    --warning: #FFB600;
}

.btn-primary {
    background-color: var(--primary) !important;
}

/* minimum height on the container to ensure footer is always at the bottom */
/* temporary code */
.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: turquoise;
    height: 50px;
}
.logo {
    height: auto;
}

.footer {
    margin-top: auto;
}

/* Admin Form with list Temp */
.admin-form-card {
    background-color: #F7F7F7; /* Custom background color */
    padding: 5px 20px;
}
.admin-form-card-title{
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 0.25rem;
}
.admin-form-card-subtitle{
    font-size: 10px;
    color: #8D8D8D;
    display: block;
}

/* Admin View Halls */


