:root {
    --primary: #2261AB;
    --primary-400: #518FCC;
    --success: #25991B;
    --text: #272525;
    --danger: #FF3B30; /* error */
    --warning: #FFB600;
}

.btn-primary {
    background-color: var(--primary) !important;
}

/* minimum height on the container to ensure footer is always at the bottom */
/* temporary code */
.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: turquoise;
    height: 50px;
}
.logo {
    height: auto;
}

.footer {
    margin-top: auto;
}

.cateringItem {
    max-width: 250px;
    max-height: 350px;
}

/* myAccount */
.my-account-container {
    display: flex;
}

.my-account-sidebar {
    flex: 4;
}

.my-account-body {
    flex: 10;
}

.active-side-btn {
    color: var(--primary) !important;
}

.active-side-btn:focus {
    background-color: inherit;
}

.inactive {
    display: none;
}

.completed {
    color: var(--success);
}

.justify {
    text-align: justify;
}

.gold {
    color: #DAC717;
}

.silver {
    color: #D9D9D9;
}

.bronze {
    color: #B3967C;
}

.my-status {
    width: 355px;
    height: 358px;
    
    background: linear-gradient(180deg, #C8C8C8 28%, #626262 83.5%);
    border: 1px solid #CDCDCD;
    border-radius: 12px;
}